<img src={{produto.imagem}} alt="Avatar" style="width:100%;height: 70%;">
<div class="container">
    <h4><b>{{produto.nome | uppercase}}</b></h4>
    <p>{{produto.preco}}</p>
    <ng-template *ngIf="produto.noCarrinho;then showBlock; else notShowBlock"></ng-template>
    <ng-template #showBlock><button id="remove" (click)="callClick(produto)">Remove ao carrinho</button></ng-template>
    <ng-template #notShowBlock><button id="adiciona" (click)="callClick(produto)">Adiciona ao carrinho</button></ng-template>
</div>