.newsletter-box{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 250, 237);
    padding: 15px;
    margin-right: 10px;
    border-radius: 20px;
    height: 50vh;
}

h3{
    align-self: center;
}
.newsletter-box:hover{
    box-shadow: 2px 5px #a4a5a4;
    background-color: rgb(210, 245, 213);
}
label{
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}
input{
    margin-bottom: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 30px;
}
input:hover{
    border: solid 1px; 
}
input:focus {
    background-color: #a7caa7;
    color: white;
  }


  button{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    color: rgb(123, 185, 121);
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    align-self: center;
    outline: none;
}

button:hover{
    cursor: pointer;
    font-size: 20px;
}