<div class="container">

    <button (click)="updateRegion('norte')">Norte</button>
    <button (click)="updateRegion('sul')">Sul</button>
<!-- Lideres -->
    <table *ngIf="lideres" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Título</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let line of data">
            <th scope="row">{{line.id}}</th>
            <td>{{line.nome}}</td>
            <td>{{line.titulo}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Medalhas -->
      <table *ngIf="medalhas" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let line of data">
            <th scope="row">{{line.id}}</th>
            <td>{{line.nome}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Monstros -->
      <table *ngIf="monstros" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let line of data">
            <th scope="row">{{line.id}}</th>
            <td>{{line.nome}}</td>
          </tr>
        </tbody>
      </table>
</div>